.btn-nav-icon {
  @apply inline-flex items-center justify-center p-2 rounded-full hover:text-white hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white;
}

.nav-icon {
  @apply w-6 h-6 text-gray-200;
}

/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  @apply bg-red-800 bg-opacity-30 border-red-700 border-2 text-red-800;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}
