<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "RecipeShare", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body class="bg-purple-100">
    <header class="bg-indigo-300">
     <nav role="navigation">
        <div class="container flex mx-auto items-center px-2 py-4">
          <div class="flex-1 text-2xl font-bold">Recipe Share</div>
          <div class="flex-grow flex">
            <input
             class="p-3 rounded-l-md placeholder-gray-300 w-full"
             placeholder="e.g. lasagne, pan cakes" />
            <button class="rounded-r-md px-4 py-2 bg-green-500 text-white">
              <%= Heroicons.Outline.search(class: "w-4 h-4 stroke-2") %>
            </button>
          </div>
          <div class="text-right flex-1">
          <button class="rounded-full">
            <%= Heroicons.Outline.user(class: "w-5, h-5") %>
          </button>
          </div>
        </div>
      </nav>
    </header>
    <%= @inner_content %>
  </body>
</html>
